@font-face {
  font-family: Satoshi;
  src: url('./fonts/Satoshi-Variable.ttf');
};


@font-face { 
  font-family: ClashDisplay;
  src: url('./fonts/ClashDisplay-Variable.ttf');
}
@font-face { 
  font-family: Roboto;
  src: url('./Roboto-Regular.ttf');
} 





@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: ($containerWidth + $containerPadding) + px;
  width: 100%;
  margin: 0 auto;
  padding: 0 $containerSidePadding + px;

  @media (max-width: $breakpoint1450) {
    max-width: 1200px;
  }

  @media (max-width: $breakpoint992) {
    max-width: 970px;
  }

  @media (max-width: $breakpoint768) {
    max-width: 740px;
  }

  @media (max-width: $breakpoint480) {
    max-width: none;
  }
}

// Body Locked
body {
  &.locked {
    overflow: hidden;
  }
}
