.hero {
  background: #2a254b;
  width: 1280px;
  height: 584px;
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
.text {
  margin: 60px;
  color: #ffffff;
}
.h { 
  font-weight: 400;
  font-size: 32px;
  line-height: 45px;
  font-family: ClashDisplay;
}
.p { 
  margin-top: 230px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  width: 602px;
  height: 81px;
  color: red;
  font-family: Satoshi;
}
