.block { 
    display: flex;
    justify-content: space-between;

    .text { 
        margin-right: 120px;
        margin-left: 84px;
        margin-top: 72px;
        width: 530px;
    }

    p { 
        font-family: ClashDisplay;
        font-weight: 400;
        font-size: 25px;
        line-height: 35px;
        color: #2A254B;
    }
    h1, h2 { 
     font-family: Satoshi;
     font-weight: 400;
     font-size: 16px;
     line-height: 21px;
     color: #505977;
     margin-top: 25px;
    }
    h2 { 
        margin-top: 35px;
        padding-bottom: 196px;
    }
}