.ProductList {
  .title {
    font-family: ClashDisplay;
    font-size: 32px;
    font-weight: 400;
    text-align: left;
    margin-top: 160px;
    margin-bottom: 33px;
  }
  .block {
    width: 25%;
  }
  .button {
    display: flex;
    justify-content: center;
  }
}
