.text {
  text-align: center;
  margin-top: 80px;
  font-family: ClashDisplay;
  font-weight: 400;
  font-size: 24px;
  color: #2a254b;
  margin-bottom: 51px;
}
.Block {
  display: flex;
  justify-content: space-around;
  gap: 24px;
}
