.NewProductsCard {
  .price {
    font-family: Satoshi;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    margin-top: 8px;
  }
  .img {
  }
  .title {
    font-family: ClashDisplay;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    margin-top: 24px;
  }
}
