.ProductCard {
	&:hover {
		transform: scale(1.1);
		transition: all 0.3s;
    .price,.title { 

      font-size: 20px;
      font-weight: 500;
    }
	}

	cursor: pointer;

	img {
		border-radius: 16px;
	}

	.price {
		font-family: Satoshi;
		font-size: 18px;
		font-weight: 400;
		text-align: left;
		margin-top: 8px;
	}

	.title {
		font-family: ClashDisplay;
		font-size: 20px;
		font-weight: 400;
		text-align: left;
		margin-top: 15px;
	}
}
